/* body {
	max-width: 940px;
	margin: 0 auto;
} */
a {
	text-decoration: none;
}
header {
	display: flex;
	justify-content: center;
}
header div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 913.5px;
	height: 137.3px;
}
#logo{
	display: block;
	width: 287px;
}
nav {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	width: 520px;
	height: 39px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
nav span {
	display: flex;
	line-break: auto;
	font-size: 11px;
	font-weight: normal;
	color: #b5b5b5;
}
nav a {
	font-weight: bold;
	border-left:1px dotted #d5d5d5;
	padding-left: 10px;
}
nav a:link, nav a:visited {
	color: #666666;
}
nav a:hover {
	color: #2a2a2a;
	/* font-size: 103%; */
}
#top-background {
	background-size: cover;
	/* background-image: url(/Polo360/img/black.jpg); */
	background-color: black;
	margin-bottom: -312.7px;
	height: 335px;
}
main {
	max-width: 940px;
	margin: 0 auto;
}
#back-big {
	border-radius: 7px;
	width: 940px;
	height: 342px;
}
h1 {
	border-bottom: 1px solid #e4e4e4;
	padding-top: 24px;
	padding-bottom: 16.5px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
article {
	width: 33.3%;
	/* width:  285px; */
}
main a:link {
	color: #42719b;
}
main a:visited {
	color: #42719b;
}
main a:hover {
	color: #42719b;
}
.verev {
	border: 1px solid rgb(255, 255, 255);
	float: left;
	box-sizing: border-box;
}
.vernagir {
	font-size: 1.4em;
}
.under-a {
	color: #a9a9a9;
	font-size: 13px;
	max-width: 295px;
}
article a, p {
	padding: 0 5px;
}
.img {
	box-sizing: border-box;
	border: 5px solid black;
	border-style: outset;
}
footer {
	color: #999999;
	font-family: Helvetica, "sans-serif";
	font-size: 12px;
	 clear: left;
}
#bottom1 {
	background-size: cover;
	background-color: #4c4c4c;
	height: 10px;
}
#bottom2 {
	background-size: cover;
	background-color: #333333;
	height: 172.5px;
}
footer div p {
	padding-bottom: 11px;
	padding-left: 9px;
}
footer div p a {
	padding-right: 9px;
}
.foot {
	max-width: 940px;
	margin: 0 auto;
	margin-top: -156px;
	padding: 0 9px;
}
.foot p a .brd {
	border-left:1px solid #999999;
	/* padding-left: 11px; */

}
footer a:link, footer a:visited {
	color: #999999;
}
footer a:hover {
	color: #767575;
}
div#copy {
	max-width: 940px;
	margin: 0 auto;
	margin-top: -69px;
}
div#copy p {
	/* float: right; */
	padding: 0 15px;
}